button {
	border: none;
	min-width: 60px;
	height: 30px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-radius: 8px;
	float: left
}

#tankTheme {
	color: #6E2C00;
	border: 2px solid #6E2C00;
	background-color: #F8C471
}

#bookTheme {
	color: #641E16;
	border: 2px solid #641E16;
	background-color: #F5B7B1
}

#spiderTheme {
	color: #0B5345;
	border: 2px solid #0B5345;
	background-color: #A9DFBF
}

#ufoTheme {
	color: #0A122A;
	border: 2px solid #0A122A;
	background-color: #CED8F6
}

#octopusTheme {
	color: #0B243B;
	border: 2px solid #0B243B;
	background-color: #81F7F3
}